* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:hsl(0, 0%, 98%) ;
    padding: 80px 120px;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
}

.header-title {
    padding-bottom: 15px;
    font-size: 32px;
    font-weight: 200;
}

p {
    font-weight: 200;
}
.header-title-bold {
    font-size: 32px;
}

.header-paragraph {
    max-width: 550px;
    width: 100%;
    font-weight: 200;
    opacity: 0.7;
}
.article {
    height: 300px;
    width: auto;
    background-color: #fff;
    padding: 30px 30px 40px 30px;
    position: relative;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border-radius: 10px;
}

.article:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
    /* transform: scale(1.033); */
}

.article-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    flex:1;
}

.main {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.article-image-wrapper {
    position: absolute;
    bottom: 40px;
    right: 30px;
}

.article-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.article-cyan {
    border-top: 4.5px solid hsl(180, 62%, 55%);
}

.article-red {
    border-top: 4.5px solid hsl(0, 78%, 62%);
}

.article-orange {
    border-top: 4.5px solid  hsl(34, 97%, 64%);
}
.article-blue {
    border-top: 4.5px solid  hsl(212, 86%, 64%);
}

@media (max-width: 786px) {
    .main {
flex-direction: column;
    }
    body {
        padding: 60px 40px;
    }
    .article {
        height: 250px;
    }
    .header-title, .header-title-bold {
        font-size: 20px;
    }
    p {
        font-size: 12px;
    }
}